<form id="addProductForm">
  <input type="text" id="title" name="title" placeholder="Title" required />
  <input
    type="text"
    id="description"
    name="description"
    placeholder="Description"
    required
  />
  <input type="number" id="price" name="price" placeholder="Price" required />
 
  <input type="text" id="code" name="code" placeholder="Product Code" />
  <input type="number" id="stock" name="stock" placeholder="Stock" />
  <button id="button-create" onclick="createProduct(event)">Agregar Producto</button> 
</form>

  

<div id="products-container" class="product-grid">
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>